.mainBlock {
  width: 100%;
  padding: 50px 0px 30px 0px;
  min-height: 600px;
  @media screen and (max-width: 1200px) {
    padding: 50px 20px 30px 20px;
  }
}

.titleBlock {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0px auto 20px auto;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.renewTime {
  margin: 0px 0px 0px auto;
  color: #b8b8b8;
}

.title {
  font-size: 25px;
  font-weight: 600;
}

.storeList {
  display: flex;
  width: 1200px;
  margin: 0px auto 0px auto;
  @media screen and (max-width: 1200px) {
    width: 100%;
    height: 600px;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.storeBlock {
  width: 220px;
  margin: 0px 25px 50px 0px;
  &.end {
    margin: 0px 0px 50px 0px;
  }
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.image {
  width: 220px;
  height: 150px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #eaeaea;
}

.storeName {
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.address {
  font-size: 15px;
  font-weight: 200;
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.infoList {
  display: flex;
}

.info {
  display: flex;
  margin: 0px 15px 0px 0px;
  align-items: center;
  svg {
    margin: 0px 5px 0px 0px;
  }
}

.error {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 50px 0;
}
