.mainBlock {
  width: 100%;
  border-top: 1px solid #ebebeb;
}

.subBlock {
  width: 1200px;
  margin: 0 auto 0 auto;
  padding: 18.5px 20px 18.5px 20px;
  @media screen and (max-width: 1240px) {
    width: 100%;
  }
}

.title {
  color: #00aaff;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 18.5px 0;
}

.contentBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #7e7e7e;
  p {
    margin: 0 0 6px 0;
  }
}
