@import "../../../lib/styles/globalmixin.scss";

.mainBlock {
  width: 1000px;
  margin: 30px auto 100px auto;
  min-height: calc(100vh - 342px);
  @media screen and (max-width: 1020px) {
    width: calc(100% - 40px);
    margin: 30px 20px 40px 20px;
  }
}

.rightBlock {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}

.title {
  margin: 0px 0px 40px 0px;
}

.searchBlock {
  display: flex;
  align-items: center;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  height: 35px;
  width: 260px;
  margin: 0px 10px 0px 0px;
  &:focus {
    border: 1px solid #00aaff;
  }
  @media screen and (max-width: 767px) {
    width: calc(100% - 125px);
  }
}

.searchInput {
  width: 200px;
  height: 30px;
  font-size: 20px;
  @media screen and (max-width: 767px) {
    width: 140px;
  }
}

.searchButton {
  margin: 0px 5px 0px 10px;
  display: flex;
  align-items: center;
}

.initializeSearch {
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  background-color: gray;
  color: white;
  width: 50px;
  @include centerSort();
  margin: 0px 10px 0px 0px;
  &:hover {
    opacity: 0.8;
  }
}

.sortBlock {
  padding: 0 0 20px 0;
  display: flex;
  border-bottom: 1.5px solid #e5e5e5;
  align-items: flex-end;
  flex-wrap: wrap;
}

.sortList {
  display: flex;
  width: 200px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.sortName {
  margin-left: 10px;
  color: gray;
  &:hover {
    color: black;
    font-weight: 700;
  }
}

.selectedSortName {
  margin-left: 10px;
  color: black;
  font-weight: 700;
}

.writeButton {
  background-color: #3e4042;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.loading {
  width: 1000px;
  height: 1000px;
  padding: 300px 0 0 450px;
}

.postBlock {
  width: 1000px;
  border-bottom: 1.5px solid #e5e5e5;
  padding: 20px;
  &:hover {
    background-color: #f8f9fa;
  }
  cursor: pointer;
  @media screen and (max-width: 1020px) {
    width: 100%;
  }
}

.postTopBlock {
  display: flex;
  justify-content: space-between;
}

.postTitle {
  margin: 0 auto 20px 0;
}

.postUser {
  margin-left: 10px;
  color: gray;
}

.postWritedAt {
  margin-left: 10px;
  color: #878f8c;
}

.postContent {
  margin: 0 0 20px 0;
  color: #616465;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postBottomBlock {
  display: flex;
}

.postBottomInfo {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.postIcon {
  margin-right: 3px;
}

.message {
  text-align: center;
  margin-top: 100px;
  @include error();
}

.loadingBlock {
  position: relative;
  width: 100%;
  height: 700px;
}
