.centerBlock {
  width: 800px;
  margin: 50px auto 0 auto;
  @media screen and (max-width: 1023px) {
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

.subTitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 30px;
  color: gray;
}

.buttonBlock {
  display: flex;
  margin-top: 60px;
}

.agreeButton {
  width: 380px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dddfe4;
  margin-right: 40px;
}

.disagreeButton {
  width: 380px;
  height: 50px;
  background-color: #dddfe4;
  color: white;
  border-radius: 5px;
}
