.centerBlock {
  width: 550px;
  margin: auto;
  margin-top: 50px;
  @media screen and (max-width: 1201px) {
    width: 90%;
    margin-top: 0;
  }
}

.inputBlock {
  display: flex;
  height: 60px;
  align-items: center;
}

.subTitle {
  width: 150px;
}

.input {
  border-bottom: 1px solid black;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.changeButton {
  color: white;
  background-color: #00aaff;
  width: 550px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  @media screen and (max-width: 1201px) {
    width: 100%;
  }
}
