.title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 15px 0;
}

.inputBlock {
  margin: 0 0 20px 0;
}

.adressInput {
  width: calc(100% - 60px);
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 0 0 5px;
  @media screen and (max-width: 767px) {
    width: calc(100vw - 10px);
  }
}

.adressButton {
  width: 50px;
  height: 30px;
  background-color: #00aaff;
  border-radius: 5px;
  color: white;
}
