.mainBlock {
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.subBlock {
  width: 1200px;
  margin: 0px auto 0px auto;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.reviewList {
  width: calc(100% - 400px);
  height: 600px;
  overflow: scroll;
  @media screen and (max-width: 1200px) {
    margin: 0px 20px 0px 0px;
  }
  @media screen and (max-width: 767px) {
    margin: 0px 20px 0px 20px;
    width: calc(100% - 40px);
  }
}

.error {
  text-align: center;
  font-size: 30px;
  margin: 50px 0 200px 0;
}
