.button {
  z-index: 25;
  display: block;
  position: absolute;
  top: calc(((100vh - 61px) / 2) + 31px);
  background-color: white;
  padding: 10px 0 10px 0;
  height: 50px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  &:hover {
    background-color: #eaeaea;
  }
  &.storeInfoUnActive {
    left: 380px;
  }
  &.storeInfoActive {
    left: 760px;
  }
  &.folded {
    left: 0;
  }
}

.mobile {
  z-index: 100;
  background: #1b315e;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  width: 90px;
  height: 90px;
  line-height: 1.5;
  border-radius: 50%;
}
