.loading {
  margin: auto;
  margin-top: 100px;
}

.mainBlock {
  width: 100%;
  padding-bottom: 60px;
}

.subBlock {
  margin: auto;
  width: 1000px;
  margin: 20px auto 20px auto;
  background-color: white;
  padding: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0 50px 0;
}

.subTitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.storeDecisionBlock {
  display: flex;
}

.name {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}

.address {
  display: block;
  width: 100%;
  height: 20px;
  text-align: center;
}

.getstoreButton {
  width: 10%;
  background-color: aqua;
}

.moveSearchStoreButton {
  width: 10%;
  background-color: aquamarine;
}

.reviewInput {
  width: 940px;
  height: 200px;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  &:focus {
    outline: none;
  }
}

.fileButton {
  background-color: #eaeaea;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  margin-right: 10px;
}

.realFileButton {
  display: none;
}

.fileIcon {
  width: 40px;
  margin: auto;
}

.fileCount {
  width: 37px;
  margin: auto;
  font-size: 15px;
}

.taglistBlock {
  display: flex;
  flex-wrap: wrap;
}

@mixin hashtag {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: #87cefa;
    border: 1px solid #87cefa;
    color: white;
  }
}

.hashtag {
  @include hashtag();
}

.selectedHashtag {
  @include hashtag();
  background: #87cefa;
  border: 1px solid #87cefa;
  color: white;
}

.imgListBlock {
  display: flex;
  margin-bottom: 20px;
}

.imgBlock {
  height: 100px;
  margin-right: 10px;
  position: relative;
}

.img {
  border-radius: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.tagTitle {
  font-weight: 600;
  margin-bottom: 10px;
}
.taglistBlock {
  margin-bottom: 10px;
}

.buttonBlock {
  width: 1000px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
}

.imgDeleteButton {
  position: absolute;
  background: black;
  opacity: 0.7;
  font-size: 25px;
  width: 35px;
  height: 35px;
  top: 3%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
