.mainBlock {
  width: 380px;
  height: calc(100vh - 61px);
  background-color: white;
  position: absolute;
  z-index: 25;
  box-shadow: 15px 0px 15px -10px rgba(0, 0, 0, 0.2);
  left: 380px;
  border-left: 1px solid #dddddd;
  overflow-y: scroll;
  @media screen and (max-width: 767px) {
    width: 100%;
    left: 0;
    z-index: 26;
    &.fold {
      top: calc(((100vh - 121px) / 2) + 121px);
      height: calc((100vh - 121px) / 2);
    }
    &.full {
      top: 121px;
      height: calc(100vh - 121px);
    }
  }
}

.message {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 100px 0 0 0;
}

.loadingBlock {
  position: relative;
  width: 380px;
  height: calc(100vh - 61px);
}

.mainImgBlock {
  position: relative;
  width: 100%;
  height: 150px;
}

.reviewBlock {
  padding: 15px;
}

.subTitle {
  margin-right: 250px;
  margin-bottom: 15px;
}
