.mainBlock {
  width: 400px;
  margin: 80px auto 80px auto;
  @media screen and (min-height: 880px) {
    height: calc(100vh - 342px);
    display: flex;
    align-items: baseline;
  }
  @media screen and (max-width: 500px) {
    width: calc(100% - 80px);
    margin: 80px 40px 80px 40px;
  }
}

.naverBlock {
  width: 400px;
  height: 40px;
  background: #03c75a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 20px 0;
  &:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.naverContentBlock {
  display: flex;
  margin: auto;
}

.naverLogo {
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
}

.naverText {
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
}

.kakaoBlock {
  width: 400px;
  height: 40px;
  background: #fee500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.kakaoContentBlock {
  display: flex;
  margin: auto;
}

.kakaoLogo {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

.kakaoText {
  color: #000000;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.divisionBlock {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.divisionBar {
  width: 170px;
  border: none;
  height: 1px;
  background-color: #e3e3e3;
  @media screen and (max-width: 500px) {
    width: calc((100% - 50px) / 2);
  }
}

.divisionText {
  padding: 0 10px;
  color: #b5b5b5;
}

.buttonBlock {
  margin: 50px 0px 0px 0px;
}

.bottomBlock {
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  color: #666f7e;
  font-size: 15px;
  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.bottomLink {
  cursor: pointer;
  & + & {
    margin: 0px 0px 0px 15px;
  }
  :hover {
    opacity: 0.5;
  }
}
