.mainBlock {
  height: 655px;
  overflow-y: scroll;
  @media screen and (max-width: 1023px) {
    height: 296.75px;
  }
}

.ectStatus {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  color: gray;
}

.loading {
  margin: 200px 100px 0 100px;
}
