.mainBlock {
  overflow-y: scroll;
  height: calc(100vh - 315.25px);
  padding: 10px;
}

.ectStatus {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  color: gray;
}

.loading {
  margin: 200px 100px 0 100px;
}
