.mainBlock {
  width: 1000px;
  border-bottom: 1.5px solid #e5e5e5;
  padding: 20px;
  &:hover {
    background-color: #f8f9fa;
  }
  cursor: pointer;
  @media screen and (max-width: 1020px) {
    width: 100%;
  }
}

.topBlock {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0 auto 20px 0;
}

.user {
  margin-left: 10px;
  color: gray;
}

.writedAt {
  margin-left: 10px;
  color: #878f8c;
}

.content {
  margin: 0 0 20px 0;
  color: #616465;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottomBlock {
  display: flex;
}

.iconBlock {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 3px;
}
