.mainBlock {
  width: 850px;
  margin: 50px auto 50px auto;
  display: flex;
  min-height: calc(100vh - 282px);
  @media screen and (max-width: 890px) {
    width: 100%;
    display: inline-block;
  }
}
