.mainBlock {
  width: 400px;
  margin: 80px auto 80px auto;

  @media screen and (min-height: 553px) {
    height: calc(100vh - 342px);
    display: flex;
    align-items: baseline;
  }

  @media screen and (max-width: 500px) {
    width: calc(100% - 80px);
    margin: 80px 40px 80px 40px;
  }
}

.inputBlock {
  & + & {
    margin-top: 30px;
  }
}

.input {
  width: 450px;
  height: 40px;
  border-bottom: 1px solid black;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    width: 70%;
  }
}

.button {
  width: 70px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    width: 25%;
    font-size: 12px;
  }
}
