.mainBlock {
  width: 400px;
  margin: 80px auto 80px auto;

  @media screen and (max-width: 500px) {
    width: calc(100% - 80px);
    margin: 80px 40px 80px 40px;
  }

  &.nomal {
    @media screen and (min-height: 553px) {
      height: calc(100vh - 342px);
      display: flex;
      align-items: baseline;
    }
  }

  &.changePassword {
    @media screen and (min-height: 635px) {
      height: calc(100vh - 342px);
      display: flex;
      align-items: baseline;
    }
  }
}
