.topBlock {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0 10px 0;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.movesearch {
  height: 30px;
  border-radius: 10px;
  color: white;
  padding: 5px;
  background-color: skyblue;
  &:hover {
    opacity: 0.8;
  }
}

.title {
  color: #00aaff;
}

.selecttaglistBlock {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  color: gray;
  overflow-x: scroll;
}

.selecttag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.ectStatus {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
  color: gray;
}

.loading {
  margin: 200px 100px 0 100px;
}

.storeListBlock {
  overflow-y: scroll;
  height: calc(100vh - 222.5px);
  @media screen and (max-width: 767px) {
    height: calc(100% - 161.5px);
  }
}
