.mainBlock {
}

.subTitle {
  color: #cfcfcf;
  font-size: 15px;
}

.navListBlock {
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
}

.nav {
  cursor: pointer;
  margin-bottom: 10px;
}

.selectedNav {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
  color: #00aaff;
}
