.mainBlock {
  padding: 15px;
}

.title {
  margin-right: 250px;
  margin-bottom: 15px;
}

.contentBlock {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.icon {
  margin-right: 10px;
  color: #adadad;
}

.openingHours {
  white-space: pre-wrap;
  line-height: 1.5;
}
