.mainBlock {
  border-bottom: 1px solid #eaeaea;
  align-items: flex-start;
  padding: 10px;
}

.topBlock {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.nickname {
  font-size: 15px;
  font-weight: 500;
}

.date {
  font-size: 15px;
  margin: 0 0 0 10px;
  text-align: right;
  color: #c5cec1;
}

.button {
  margin: 0 0 0 10px;
  padding: 0;
  cursor: pointer;
}

.content {
  width: 100%;
  line-height: 1.8;
}
