.mainBlock {
  overflow-y: scroll;
  height: calc(100vh - 111px);
  padding: 20px;
  @media screen and (max-width: 767px) {
    height: calc(100% - 50px);
  }
}

.categoryListBlock {
  display: flex;
  margin: 15px 0 15px 0;
}

@mixin category {
  padding: 5px;
  border-radius: 10px;
  color: black;
  border: 1px solid #e5e5e5;
  font-size: 17px;
  margin-right: 10px;
  padding: 5px 15px 5px 15px;
  &:hover {
    background: #87cefa;
    border: 1px solid #87cefa;
  }
}

.category {
  @include category();
}

.selectedCategory {
  @include category();
  background: #87cefa;
  border: 1px solid #87cefa;
}

.inputBlock {
  margin: 0 0 20px 0;
}

.adressInput {
  width: calc(100% - 60px);
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    width: calc(100vw - 10px);
  }
}

.adressButton {
  width: 50px;
  height: 30px;
  background-color: #00aaff;
  border-radius: 5px;
  color: white;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 15px 0;
}

.hashtagListBlock {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

@mixin hashtag {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.hashtag {
  @include hashtag();
}

.selectedHashtag {
  @include hashtag();
  background: #87cefa;
  border: 1px solid #87cefa;
  color: white;
}

.searchbutton {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto 20px auto;
  background-color: #00aaff;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
