.mainBlock {
  position: relative;
  width: 1200px;
  margin: 0 auto 0 auto;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.subBlock {
  position: absolute;
  width: 400px;
  height: 343.5px;
  right: 20px;
  z-index: 25;
  background-color: white;
  box-shadow: 1px 4px 15px rgb(0 0 0 / 20%);
  overflow: scroll;
  @media screen and (max-width: 1200px) {
    right: 0px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    top: -120px;
  }
}

.loading {
  margin: 71.75px 100px 0 100px;
}

.error {
  margin: 160px 125px 0 125px;
  color: #959aa4;
}

.noContent {
  margin: 160px 133px 0 133px;
  color: #959aa4;
}

.title {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}

.count {
  margin: 0 0 0 10px;
  color: #00aaff;
}

.noticeBlock {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  padding: 15px;
  cursor: pointer;
  &.check {
    background-color: #f8f9fa;
  }
}

.dot {
  margin: 2px 10px 0 0;
}

.content {
  width: 275px;
  margin: 0 5px 0 0;
  color: #9891ac;
  &.check {
    color: #000000;
  }
}

.date {
  width: 56px;
  font-size: 14px;
  color: #9891ac;
  display: flex;
  justify-content: center;
  align-items: center;
  &.check {
    color: #000000;
  }
}
